<!DOCTYPE html>
<html dir="ltr" mozdisallowselectionprint moznomarginboxes  ms-controller="APPController" class="ms-controller">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="renderer" content="webkit"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
		<link rel="shortcut icon" href="favicon.ico" >
		<title>{{title}}</title>
<link type="text/css" href="css/all_2017_06_02_02_46_48.css" rel="stylesheet" media="all" />
		
	</head>
	
	<body>
		<div id="APP" class="APP" ms-controller="appLanguage" class="ms-controller" onselectstart="return true">
			<div id="loginPanel" class="loginPanel" ms-controller="login" class="ms-controller"></div>
			<div id="mainScreen" class="mainScreen" ms-controller="mainScreen" class="ms-controller" ms-visible="isLogin === true"></div>
			<div id="help_container" class="help_container" ms-controller="helpModule" class="ms-controller" ms-visible="visible"></div>
		</div>
	   	
	   	<iframe name="hideSumbit" style="margin:0;border:0;width:0;height:0;display:none;"></iframe>
	   	
	   	<div id="pdfContainer"></div>
	   	<div id="shadeWin" style="position:absolute;width:100%;height:100%;z-index:10000;left:0;top:0;background:#444 ;display:none">
			<div class="panelInner" id="panel">
					<p id="innerTip" class="innerTip">浏览器不支持</p>	
			</div>
		</div>
	  	<script>
		  	(function(){
		  		services = {}
		  		
		  		var mcookie= {
	  				getsec : function(str){
	  					
	  					var str1=str.substring(1,str.length)*1;
	  					   var str2=str.substring(0,1);
	  					   if (str2=="s")
	  					   {
	  					        return str1*1000;
	  					   }
	  					   else if (str2=="h")
	  					   {
	  					       return str1*60*60*1000;
	  					   }
	  					   else if (str2=="d")
	  					   {
	  					       return str1*24*60*60*1000;
	  					   }
	  					
	  				},
	  				
	  				setCookie: function(name,value ,time){
	  					
	  					var Days = 30;
	  					var exp = new Date();
	  					exp.setTime(exp.getTime() + Days*24*60*60*1000);
	  					document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();

	  					
	  					var strsec = this.getsec(time);
	  					var exp = new Date();
	  					exp.setTime(exp.getTime() + strsec*1);
	  					document.cookie = name + "="+ escape (value) + ";expires=" + exp.toGMTString();
	  					
	  				}	
		  		};
		  		
				var local = window.location.href;
		  		
		  		if(local.indexOf('33455') >= 0){
		  			document.getElementById("loginPanel").style.display ="none";
		  			
		  		}else{
		  			document.getElementById("loginPanel").style.display ="block";
		  			if(local.indexOf('shanchuan') >= 0){
		  				mcookie.setCookie('language', 'cn', '7200');
		  			}
		  		}
		  		
		  		var getIE = function(){
		  			if(navigator.userAgent.indexOf("MSIE")>0){
		  				if(navigator.userAgent.indexOf("MSIE 9.0")>0 ||
		  					navigator.userAgent.indexOf("MSIE 8.0")>0 ||
		  					navigator.userAgent.indexOf("MSIE 7.0")>0	||
		  					navigator.userAgent.indexOf("MSIE 6.0")>0){
		  					
		  					//var isIE11 = (/Trident\/7\./).test(navigator.userAgent);
                           
		  					//if(isIE11) return;
							
							
							
		  					var getLanguage = function(){
		  						return (typeof navigator === "undefined" ? "en-us" :
		                            (navigator.language ||
		                             navigator.userLanguage || "en-us").toLowerCase())
		  					}
		  					
		  					var allLanguage = {};
		  					allLanguage["en-us"] = {
		  						"titleBig":"Please use IE10 or above, or other browsers.",
		  						"compatible":'Open IE browser, enter Settings, select "Compatibility View Settings", and cancel the selection of "Display intranet sites in Compatibility View" and "Use Microsoft compatibility lists" options'
		  					}
		  					
		  					allLanguage["zh-cn"]={
		  						"titleBig":"请选择IE10及以上版本或者其他浏览器",
		  						"compatible":'打开 IE 浏览器，进入设置，选择“兼容性视图设置”，取消“在兼容性视图中显示 Intranet 站点”，及“使用 Microsoft 兼容性列表”选项'
		  					}
		  					
		  					allLanguage["zh-tw"] = {
		  						"titleBig":"請選擇IE10及以上版本或者其他瀏覽器.",
		  						"compatible":'打開 IE 流覽器，進入設置，選擇“相容性視圖設置”，取消“在相容性視圖中顯示 Intranet 網站”，及“使用 Microsoft 相容性清單”選項'
		  					}
		  					
		  					allLanguage["es-es"] = {
		  						"titleBig":"Por favor, utilize o Internet Explorer 10, ou superior, ou algum outro navegador",
		  						"compatible":'Abra el navegador IE, escriba Configuración, seleccione "Configuración de Mostrar compatibilidad" y desactive "sitios de la intranet de visualización en Vista de compatibilidad" y "utilizar listas de Microsoft Compatibility" opciones'
		  					}
		  					
		  					allLanguage["pt-pt"] = {
		  						"titleBig":"Por favor, use Internet Explorer 10, o superior, o algún otro navegador.",
		  						"compatible":'Abra o navegador IE, digite configurações, selecione "Mostrar configurações de compatibilidade" e desmarque a opção "Mostrar em sites de intranet de Exibição de Compatibilidade" e "usar listas Microsoft de compatibilidade" opções'
		  					}

		  					var s = navigator.userAgent;
							var idx = s.indexOf('Trident');
							var v = parseInt(s.substring(idx+8, idx+11));



		  					if(navigator.userAgent.indexOf("compatible")>0 && v > 5){

		  						document.getElementById("innerTip").innerHTML = allLanguage[getLanguage()]["compatible"];

		  					}else{
		  						document.getElementById("innerTip").innerHTML = allLanguage[getLanguage()]["titleBig"];
		  					}

		  					/*
		  					if(navigator.userAgent.indexOf("compatible")>0 && (navigator.userAgent.indexOf("Trident/7.0") > 0 || navigator.userAgent.indexOf("Trident/10.0") > 0 || navigator.userAgent.indexOf("Trident/6.0") > 0)){

		  						document.getElementById("innerTip").innerHTML = allLanguage[getLanguage()]["compatible"];

							}else{
								document.getElementById("innerTip").innerHTML = allLanguage[getLanguage()]["titleBig"];
							}
							*/

							

		  					document.getElementById("shadeWin").style.display = "block";
		  					
		  				}
		  			}
		  		}
		  		getIE();	
		  		services.setBaseurl = function(baseurl){
		  			this.baseurl = baseurl.charAt(baseurl.length - 1) === '/' ? baseurl : baseurl+'/';
		  			//offline mode has a /web/ prefix
		  			this.baseurl = this.baseurl.replace(/\/web\/$/,'/');
		  			this.uploadurl = this.baseurl + 'upload'
		  			this.respImageurl = this.baseurl + 'respImage'
		  			this.webclienturl = this.baseurl + 'webclient'
		  		}
	
		  		services.setChannelurl = function(channelurl){
		  			if(channelurl.indexOf('http') == 0){
		  				this.channelurl = channelurl;
		  			}
		  			else{
			  			this.channelurl = this.baseurl + channelurl;
		  			}
		  		} 
	
		  		var baseurl = document.location.href.replace(/(http(s?):\/\/.*)\/[^/]*$/,'$1/')
	
		  		services.setBaseurl(baseurl)
		  		
		  		
	
		  	})()
	  	</script>
	  	
	  	<script   src="static/main-built_2017_06_02_02_46_48.js"></script>
	</body>
</html>